.intersection {
  flex-basis: 100%;
}

.intersection::before {
  border-top: 1px #000 solid;
  content: '';
  z-index: -1;
  width: 100%;
  display: block;
  margin-top: 50%;
  margin-left: 50%;
}

.intersection:last-child::before {
  border-top: 1px rgba(0, 0, 0, 0) solid;
}

.intersection::after {
  border-left: 1px #000 solid;
  content: ' ';
  z-index: -1;
  height: 100%;
  display: block;
  margin-left: 50%;
}

.lastIntersection::after {
  border-left: 0;
}

.black,
.white {
  border-radius: 50%;
}

.black::before,
.white::before {
  width: 50%;
  margin-left: 100%;
}

.black::after,
.white::after {
  height: 58%;
  margin-top: 42%;
}

.black {
  background: no-repeat center/cover;
  background-image: url('./black.png');
}

.white {
  background: no-repeat center/cover;
  background-image: url('./white.png');
}

.temporary {

}

.highlight {
  background-color: rgba(0, 0, 0, 0.5);
}
