@import '../../components/variables.css';

.root {
  margin: 24px;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  margin-bottom: 32px;
}

.title {
  background-color: rgb(232, 232, 232);
  padding: 0 24px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  height: 56px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}

.body {
  padding: 14px 24px 24px;
  margin: 0;
}

.submit {
  padding: 14px 0;
}
