@import '../Intersection.css';

.white {
  color: white;
}

.black {
  color: black;
}

.number {
  text-align: center;
  position: relative;
  top: 50%;
  left: -0.5vw;
}

.intersection {
  overflow-x: hidden;
}
